In [1]:
pwd

'/Users/galvanize/twitter/twitter/src'

In [2]:
ls

eda.ipynb         get_data_info.py  stream.py         test_sent.txt

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

names = ['created_at', 'hash_tags', 'coordinates',
         'coordinates_type', 'lang', 'country', 'tweet_location', 'text',
         'user_created', 'default_profile_image', 'user_likes',
         'user_followers', 'user_following', 'user_screen_name',
         'user_num_tweets', 'user_entered_location']

In [5]:
df = pd.read_csv('../data/tweets.csv', names=names)

In [9]:
df.shape

(157866, 16)

In [13]:
df[df['user_followers'] == df.user_followers.max()]

,created_at,hash_tags,coordinates,coordinates_type,lang,country,tweet_location,text,user_created,default_profile_image,user_likes,user_followers,user_following,user_screen_name,user_num_tweets,user_entered_location
29188,Sun Jan 07 18:44:49 +0000 2018,[],"[34.0522, -118.243]",Point,en,United States,"Los Angeles, CA","You only live once @ Los Angeles, California h...",Wed Sep 01 03:05:30 +0000 2010,False,158,4139664,724,2chainz,34219,Atlanta (Soufside)

In [11]:
df.columns

Index(['created_at', 'hash_tags', 'coordinates', 'coordinates_type', 'lang',
       'country', 'tweet_location', 'text', 'user_created',
       'default_profile_image', 'user_likes', 'user_followers',
       'user_following', 'user_screen_name', 'user_num_tweets',
       'user_entered_location'],
      dtype='object')

In [20]:
df.sort_values(['user_followers'], ascending=False)

,created_at,hash_tags,coordinates,coordinates_type,lang,country,tweet_location,text,user_created,default_profile_image,user_likes,user_followers,user_following,user_screen_name,user_num_tweets,user_entered_location
29188,Sun Jan 07 18:44:49 +0000 2018,[],"[34.0522, -118.243]",Point,en,United States,"Los Angeles, CA","You only live once @ Los Angeles, California h...",Wed Sep 01 03:05:30 +0000 2010,False,158,4139664,724,2chainz,34219,Atlanta (Soufside)
152853,Sun Jan 07 20:42:49 +0000 2018,[],NaN,NaN,en,United States,"Beverly Hills, CA",I have never seen security like this for the @...,Sat Sep 20 16:15:10 +0000 2008,False,369,2207675,946,alroker,19607,"New York, NY"
152889,Sun Jan 07 20:42:49 +0000 2018,[],NaN,NaN,en,United States,"Beverly Hills, CA",I have never seen security like this for the @...,Sat Sep 20 16:15:10 +0000 2008,False,369,2207675,946,alroker,19607,"New York, NY"
144021,Sun Jan 07 20:35:57 +0000 2018,[],NaN,NaN,en,United States,"Dallas, TX",Gearing up for tonight's showdown. https://t.c...,Fri Feb 06 19:51:02 +0000 2009,False,224,2022036,251,nyknicks,43563,"New York, NY"
107751,Sun Jan 07 20:07:59 +0000 2018,[],NaN,NaN,en,United States,"Orlando, FL",this nigga head on backwards https://t.co/z6LV...,Sun Oct 30 21:50:46 +0000 2011,False,108056,1309594,34091,KyleEdwards,44263,MikeTheManager@KyleEdwards.biz
126901,Sun Jan 07 20:22:32 +0000 2018,"[{'text': 'whyiwearblack', 'indices': [0, 14]}...",NaN,NaN,en,United States,"Los Angeles, CA",#whyiwearblack today I stand with those people...,Sat Feb 21 23:04:23 +0000 2009,False,662,1253508,1269,pattistanger,24830,California
150407,Sun Jan 07 20:40:57 +0000 2018,[],NaN,NaN,en,United States,"Los Angeles, CA",Tonight’s @goldenglobes is not just about the ...,Sat Feb 21 23:04:23 +0000 2009,False,662,1253505,1269,pattistanger,24831,California
38162,Sun Jan 07 18:51:22 +0000 2018,"[{'text': 'MAGA', 'indices': [116, 121]}]",NaN,NaN,en,United States,"Clearwater, FL",Is 2018 and yes i still support our @POTUS @re...,Tue Mar 31 17:16:04 +0000 2009,False,10656,1208833,20368,AntonioSabatoJr,17655,NaN
74220,Sun Jan 07 19:17:20 +0000 2018,[],NaN,NaN,en,United States,"Pawcatuck, CT",@LewMorton @jmatthews Hi Lew! The point is on...,Thu Apr 10 04:55:57 +0000 2008,False,69307,1166082,3301,hodgman,50534,"Brooklyn, NY"
34490,Sun Jan 07 18:48:46 +0000 2018,[],NaN,NaN,en,United States,"Providence, RI",That was me quoting @david_rees https://t.co/u...,Thu Apr 10 04:55:57 +0000 2008,False,69303,1166079,3301,hodgman,50533,"Brooklyn, NY"
47845,Sun Jan 07 18:58:13 +0000 2018,[],"[33.78199, -84.41041]",Point,en,United States,"Atlanta, GA",Come save Cooper. Atlanta Humane society. I ju...,Wed Sep 29 01:50:02 +0000 2010,False,62711,1102599,579739,DanielNewman,22360,iTunes / Spotify / FACEBOOK
2865,Sun Jan 07 18:24:13 +0000 2018,[],NaN,NaN,en,United States,Atlanta Humane Society,If you're in ATLANTA come get Cooper! Atlanta ...,Wed Sep 29 01:50:02 +0000 2010,False,62703,1102574,579489,DanielNewman,22360,iTunes / Spotify / FACEBOOK
13970,Sun Jan 07 18:32:57 +0000 2018,[],NaN,NaN,en,United States,"Portland, OR",Spurs on Sunday. \n\nPreview » https://t.co/mR...,Mon May 28 21:42:48 +0000 2007,False,6336,1084557,6935,trailblazers,69643,"Portland, Ore."
153699,Sun Jan 07 20:43:24 +0000 2018,[],NaN,NaN,en,United States,"Fort Worth, TX",Selling a 5k Instagram page for 75$\nDM me for...,Mon Jan 11 05:53:44 +0000 2010,False,34156,1039965,652697,DarrionDaDon_,140245,"Chicago, IL, USA"
153926,Sun Jan 07 20:43:35 +0000 2018,[],NaN,NaN,en,United States,"Fort Worth, TX",50k 📺🖥 YouTube views for 85$ \n1k 📺👍🏾 YouTube ...,Mon Jan 11 05:53:44 +0000 2010,False,34156,1039965,652697,DarrionDaDon_,140245,"Chicago, IL, USA"
154152,Sun Jan 07 20:43:44 +0000 2018,[],NaN,NaN,en,United States,"Fort Worth, TX",10$ 15$ &amp; 25$ SoundCloud 🔉 Promo available...,Mon Jan 11 05:53:44 +0000 2010,False,34156,1039965,652697,DarrionDaDon_,140245,"Chicago, IL, USA"
154410,Sun Jan 07 20:43:55 +0000 2018,[],NaN,NaN,en,United States,"Fort Worth, TX",40$ 📳 SoundCloud Repost To \n41k SoundCloud pa...,Mon Jan 11 05:53:44 +0000 2010,False,34156,1039965,652697,DarrionDaDon_,140245,"Chicago, IL, USA"
152356,Sun Jan 07 20:42:26 +0000 2018,[],NaN,NaN,en,United States,"Atlanta, GA",Why are most female rappers from New York? Mus...,Fri Mar 27 23:51:16 +0000 2009,False,15089,1007212,3717,BebeRexha,5726,"New York, NY"
149917,Sun Jan 07 20:40:35 +0000 2018,"[{'text': 'xo', 'indices': [47, 50]}]",NaN,NaN,en,United States,"Los Angeles, CA","Dear @Sprint, I'm still obsessed with this ad....",Wed Jun 24 14:44:05 +0000 2009,False,9686,999464,74929,mitchellroyel,29617,"Calabasas, CA"
133225,Sun Jan 07 20:27:32 +0000 2018,"[{'text': 'StromboHundo', 'indices': [100, 113]}]",NaN,NaN,en,United States,"Palm Springs, CA",TONIGHT\n\nWe kickoff the countdown of the 100...,Wed Dec 17 00:09:04 +0000 2008,False,20234,947023,10759,strombo,33730,Turtle Island
83588,Sun Jan 07 19:48:51 +0000 2018,"[{'text': 'IfLovingYouIsWrong', 'indices': [12...",NaN,NaN,en,United States,"Los Angeles, CA",3 DAYS 💃🏾👏🏾 #IfLovingYouIsWrong returns to OWN...,Mon Aug 23 23:50:28 +0000 2010,False,15539,918741,2935,OWNTV,72097,NaN
44164,Sun Jan 07 18:55:24 +0000 2018,[],NaN,NaN,en,United States,"Denver, CO",Life is good!,Thu May 17 14:25:16 +0000 2007,False,31622,912253,504381,joelcomm,47785,Northern Colorado
52089,Sun Jan 07 19:01:20 +0000 2018,"[{'text': 'beautyqueen', 'indices': [40, 52]},...","[34.0522, -118.243]",Point,en,United States,"Los Angeles, CA",👏🏻👏🏻👏🏻👏🏻👏🏻👏🏻 I’m with you! When you are #beaut...,Tue Dec 21 21:31:10 +0000 2010,False,22219,860581,1432,machadooficial,70577,"Los Angeles, CA"
55861,Sun Jan 07 19:04:07 +0000 2018,"[{'text': 'AliciaMachadoMissUniverse', 'indice...","[34.0522, -118.243]",Point,en,United States,"Los Angeles, CA",🙏🏻 I’m with you #AliciaMachadoMissUniverse fro...,Tue Dec 21 21:31:10 +0000 2010,False,22219,860580,1432,machadooficial,70578,"Los Angeles, CA"
3280,Sun Jan 07 18:24:32 +0000 2018,[],NaN,NaN,en,United States,"Los Angeles, CA",No a la censura y quiero publicar estoy espera...,Tue Dec 21 21:31:10 +0000 2010,False,22217,860574,1432,machadooficial,70574,"Los Angeles, CA"
62177,Sun Jan 07 19:08:50 +0000 2018,[],NaN,NaN,en,United States,"Los Angeles, CA",Ahhhhh April 1st can’t come soon enough 🤫,Sat Mar 29 22:55:19 +0000 2014,False,6940,807604,185,madelainepetsch,1285,Los Angeles / Vancouver
65960,Sun Jan 07 19:11:27 +0000 2018,"[{'text': 'iraq', 'indices': [27, 32]}, {'text...","[34.464592, -118.4838791]",Point,en,United States,"Santa Clarita, CA",Here to serve and protect. #iraq #marines The ...,Thu Jul 09 20:27:04 +0000 2009,False,3159,749351,6444,titoortiz,26250,United States
143601,Sun Jan 07 20:35:39 +0000 2018,[],NaN,NaN,en,United States,"Santa Barbara, CA",Sending prayers for a beautiful marriage to th...,Fri Apr 10 18:09:59 +0000 2009,False,60394,747164,2857,hollyrpeete,99482,LA via Philly
39228,Sun Jan 07 18:52:02 +0000 2018,"[{'text': 'RAWKHAWK', 'indices': [24, 33]}]",NaN,NaN,en,United States,"Hampton, VA",I like to kiss. RAWR XD #RAWKHAWK Babies.. I l...,Sun Jul 13 05:24:11 +0000 2014,False,22175,715005,64336,MikeManges,18991,"Hampton, VA"
44136,Sun Jan 07 18:55:23 +0000 2018,"[{'text': 'WhoDatNation', 'indices': [101, 114]}]",NaN,NaN,en,United States,"New Orleans, LA",What a great time! Creole Queen Photo Site htt...,Thu Jul 21 21:21:29 +0000 2011,False,957,691484,60988,ByronErnest,19019,"Indianapolis, Indiana"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
126091,Sun Jan 07 20:21:57 +0000 2018,[],NaN,NaN,en,United States,Starbucks,&amp;Lorde whoops 😬 @Caradelevingne missed lin...,Mon May 15 16:26:48 +0000 2017,False,633,0,4,sofzayin,775,GOD
12455,Sun Jan 07 18:31:44 +0000 2018,"[{'text': 'cannabis', 'indices': [61, 70]}, {'...",NaN,NaN,en,United States,"San Diego, CA",Cannabis cbd crème! So good it works like an i...,Sat Jan 06 01:14:49 +0000 2018,False,0,0,0,CooperT420,2,"San Diego, CA"
12913,Sun Jan 07 18:32:04 +0000 2018,[],NaN,NaN,en,United States,"Burbank, CA",I don't have a problem with arcs but when some...,Mon May 15 00:56:12 +0000 2017,False,8,0,1,bubrnak,498,Անտարկտիկայի կողմից
149959,Sun Jan 07 20:40:37 +0000 2018,"[{'text': 'MyTwitterAnniversary', 'indices': [...",NaN,NaN,en,United States,John F. Kennedy International Airport (JFK),Do you remember when you joined Twitter? I do!...,Thu Jun 27 01:29:12 +0000 2013,False,2,0,0,SklarewKathleen,2,NaN
16262,Sun Jan 07 18:34:51 +0000 2018,[],NaN,NaN,en,United States,"Wyoming, USA",@MariahCarey You are the queen of beauty,Sun Jan 07 18:19:14 +0000 2018,False,1,0,6,oviehero,1,NaN
131705,Sun Jan 07 20:26:18 +0000 2018,[],NaN,NaN,en,United States,"Arroyo Grande, CA",A much needed wall on our border. I hope this...,Sun Feb 05 17:15:19 +0000 2017,False,5,0,5,thies_mary,311,NaN
52558,Sun Jan 07 19:01:39 +0000 2018,[],NaN,NaN,en,United States,"Branchburg, NJ",Intermediate Algebra Binder Ready Textbook-Sev...,Sun Jan 07 16:50:10 +0000 2018,False,0,0,0,RVCCBookSales,6,"New Jersey, USA"
100260,Sun Jan 07 20:02:01 +0000 2018,[],NaN,NaN,en,United States,"Addison, TX",@mcbourbonnais1 @TourCNTower Nope. Nope. NOPE! 😨,Sat Sep 30 00:53:32 +0000 2017,False,27,0,10,JohnBri88385493,61,"Dallas, TX"
92944,Sun Jan 07 19:56:24 +0000 2018,[],NaN,NaN,en,United States,"Massachusetts, USA",You’ve got to try this! @StitchFix delivers st...,Sun Apr 30 14:19:00 +0000 2017,False,0,0,7,la_nacolle,5,"Hampden, MA"
133322,Sun Jan 07 20:27:36 +0000 2018,[],NaN,NaN,en,United States,"Georgia, USA","Is this the playoffs? Playoffs! ""Playoffs"" P...",Fri Aug 14 04:13:49 +0000 2009,False,9,0,5,wright621,7,"Atlanta, GA"
106932,Sun Jan 07 20:07:24 +0000 2018,[],"[40.0, -74.5]",Point,en,United States,"New Jersey, USA",Just posted a photo @ New Jersey https://t.co/...,Sat Oct 08 02:00:26 +0000 2016,False,6,0,1,brickcitybebp,3847,"Newark, NJ"
87612,Sun Jan 07 19:52:11 +0000 2018,[],NaN,NaN,en,United States,"Tulsa, OK",@Liz_Wheeler Make time!!,Fri Nov 10 02:55:10 +0000 2017,False,6,0,7,PeterHaleyWill1,222,"Buena Vista, CO"
88181,Sun Jan 07 19:52:38 +0000 2018,[],NaN,NaN,en,United States,"Missouri, USA",@ChiefsReporter I think I’m going to start wat...,Wed Aug 12 23:26:49 +0000 2015,False,2,0,20,jasonleeyates,69,NaN
16694,Sun Jan 07 18:35:11 +0000 2018,[],NaN,NaN,en,United States,"Burbank, CA",Now he's playing Dean Martin....... I mean he'...,Mon May 15 00:56:12 +0000 2017,False,8,0,1,bubrnak,498,Անտարկտիկայի կողմից
23238,Sun Jan 07 18:40:12 +0000 2018,[],NaN,NaN,en,United States,"San Jose, CA",@mattbarrows @MaioccoNBCS @Eric_Branch @CamInm...,Thu Sep 07 15:58:09 +0000 2017,False,8,0,125,2JVT4EVER,1373,"San Jose, CA"
112953,Sun Jan 07 20:12:03 +0000 2018,[],"[32.2645967, -90.2553048]",Point,en,United States,"Jackson, MS",@pandapikachu666 can i get a account for roblo...,Sat Dec 02 19:28:14 +0000 2017,False,1,0,51,Beastgucci2,22,NaN
10963,Sun Jan 07 18:30:35 +0000 2018,[],NaN,NaN,en,United States,"San Jose, CA",@BenVolin @MikeGiardi @DougKyed @Patriots I ju...,Thu Sep 07 15:58:09 +0000 2017,False,8,0,125,2JVT4EVER,1372,"San Jose, CA"
126013,Sun Jan 07 20:21:53 +0000 2018,[],"[40.0, -74.5]",Point,en,United States,"New Jersey, USA",Just posted a photo @ New Jersey https://t.co/...,Sat Oct 08 02:00:26 +0000 2016,False,6,0,1,brickcitybebp,3849,"Newark, NJ"
94942,Sun Jan 07 19:57:56 +0000 2018,[],NaN,NaN,en,United States,Starbucks,&amp;Lorde and so all know we are talking the ...,Mon May 15 16:26:48 +0000 2017,False,626,0,4,sofzayin,767,GOD
81347,Sun Jan 07 19:47:05 +0000 2018,[],NaN,NaN,en,United States,"Rahway, NJ",Can Golden State repeat,Wed Oct 11 02:36:15 +0000 2017,False,1,0,66,Larry98452917l,13,"Rahway, NJ"
153771,Sun Jan 07 20:43:28 +0000 2018,[],NaN,NaN,en,United States,"Unity Health Care, Congress Heights Health Center",I need to be making my way home,Thu Jun 09 19:56:14 +0000 2011,False,4,0,0,_IVKamarrKileyy,48721,NaN
120193,Sun Jan 07 20:17:23 +0000 2018,[],NaN,NaN,en,United States,Starbucks,&amp;Lorde ..look stupid so hypocrite &amp; co...,Mon May 15 16:26:48 +0000 2017,False,631,0,4,sofzayin,773,GOD
76722,Sun Jan 07 19:19:11 +0000 2018,[],NaN,NaN,en,United States,"Candler-McAfee, GA",I want to give a big shout-out to the Atlanta ...,Mon Nov 27 16:58:16 +0000 2017,False,73,0,46,JohnsonClas,16,"Decatur, GA"
127535,Sun Jan 07 20:23:03 +0000 2018,[],NaN,NaN,en,United States,"The Huntington Library, Art Collections, and B...",@YojiNoda1 RADWIMPS’ s music is just the food ...,Wed Oct 04 02:56:25 +0000 2017,False,6,0,24,Rosalind_Noda,15,"北京, 中华人民共和国"
41300,Sun Jan 07 18:53:22 +0000 2018,[],NaN,NaN,en,United States,"New York, NY",@BENUYEDA Referencing Norway's heritage of bui...,Wed Dec 20 18:38:30 +0000 2017,False,0,0,0,skarpkniv3,40,NaN
32185,Sun Jan 07 18:47:00 +0000 2018,[],NaN,NaN,en,United States,"San Jose, CA",@MikeGiardi NFL should have made an exception ...,Thu Sep 07 15:58:09 +0000 2017,False,8,0,125,2JVT4EVER,1374,"San Jose, CA"
129211,Sun Jan 07 20:24:20 +0000 2018,[],NaN,NaN,en,United States,"Oakland, CA",@BTS_twt \n\ni want to see you guys soon :((,Tue Nov 15 05:10:08 +0000 2016,False,141,0,4,jenuhhhes,164,jimin’s room @ hannam the hill
37536,Sun Jan 07 18:50:55 +0000 2018,[],NaN,NaN,en,United States,"Burbank, CA",I hate wimps who always have to emphasize the ...,Mon May 15 00:56:12 +0000 2017,False,8,0,1,bubrnak,499,Անտարկտիկայի կողմից
118141,Sun Jan 07 20:15:47 +0000 2018,[],NaN,NaN,en,United States,"Victoria, TX",@USMC\n@WestPoint_USMA\n\nKEYWORD: The Prometh...,Thu Jun 02 18:28:11 +0000 2016,False,0,0,0,PenguinPsionics,5,"Victoria, TX"
146960,Sun Jan 07 20:38:21 +0000 2018,[],NaN,NaN,en,United States,"California, USA",@BoogsterSU2 @realDonaldTrump @getongab The ju...,Wed Jan 03 22:50:44 +0000 2018,False,15,0,5,cheri76406033,5,NaN